.start h1 {
    color: #fff;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

.start p {
    color: var(--white);
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.second {
    display: grid;
    gap: 20px;
    color: var(--white);
    grid-template-columns: repeat(2);
    grid-template-areas:
        "twd snk"
        "twd lol"
    ;
}

.item-img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn {
    width: 80px;
    height: 25px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: none;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-family: "Lexend Deca";
    font-size: 14px;
    font-weight: 400;
    background-color: var(--bg-btn);
}

.gradient::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%);
}

.img-twd {
    grid-area: twd;
    width: 745px;
    height: 350px;
    background-image: url(/assets/images/02.png);
}

.img-snk {
    grid-area: snk;
    width: 338px;
    height: 165px;
    background-image: url(/assets/images/01.png);
}

.img-lol {
    grid-area: lol;
    width: 338px;
    height: 165px;
    background-image: url(/assets/images/07.png);
}


.img-twd p {
    position: absolute;
    top: 270px;
    left: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Lexend Deca";
    text-align: start;
}

.img-lol p,
.img-snk p {
    position: absolute;
    top: 120px;
    left: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Lexend Deca";
    text-align: start;
}

.retangle {
    width: 250px;
    height: 3px;
    background-color: var(--bg-btn);
}

.right-img {
    width: 338px;
    height: 250px;
}

.img-chr {
    background-image: url(/assets/images/03.png);
}

.img-twr {
    background-image: url(/assets/images/17.png);
}

.img-gta {
    background-image: url(/assets/images/10.png);
}

.img-val {
    background-image: url(/assets/images/19.png);
}

.img-soul {
    background-image: url(/assets/images/13.png);
}

.img-yn {
    background-image: url(/assets/images/20.png);
}

.img-wr {
    background-image: url(/assets/images/04.png);
}

.img-rs {
    background-image: url(/assets/images/06.png);
}

.img-gow {
    background-image: url(/assets/images/11.png);
}

main {
    gap: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 34px;
}

.right-title,
.last-title {
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    font-family: "Lexend Deca";
    text-align: left;
}

.right-title {
    text-align: center;
}

.right-text {
    width: 303px;
    height: 60px;
    position: absolute;
    top: 180px;
    left: 15px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Lexend Deca";
    text-align: start;
    color: var(--white);
}

.last-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 30px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #282830;

}

::-webkit-scrollbar-thumb {
    background: #8257e6;
}

/* IMAGE HOVER EFFECT */
.scroll-img {
    transition: all 0.3s ease;
    filter: brightness(0.6);
}

.scroll-img:hover {
    filter: brightness(1);
}

/* SCROLL IMAGES CONTAINER */
.scroll-imgs-container {
    max-height: 90rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0;
    flex: 0 1 700px;
}

/* PAIN IMG */
.scroll-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 24rem;
    min-height: 100%;
    background: url("/assets/images/16.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* DEADPOOL IMG */
.scroll-img-item:nth-child(2) .scroll-img {
    background: url("/assets/images/15.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* MINECRAFT IMG */
.scroll-img-item:nth-child(3) .scroll-img {
    background: url("/assets/images/09.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HARRY P. IMG */
.scroll-img-item:nth-child(4) .scroll-img {
    background: url("/assets/images/05.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* SUPERNATURAL IMG */
.scroll-img-item:nth-child(5) .scroll-img {
    background: url("/assets/images/14.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-img-item:nth-child(6) .scroll-img {
    background: url("/assets/images/21.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-img-item:nth-child(7) .scroll-img {
    background: url("/assets/images/08.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-img-item {
    display: flex;
    position: relative;
}

.scroll-img-texts {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    align-items: flex-start;
}

.scroll-img-title {
    color: var(--white);
    font-family: "Lexend Deca";
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 400;
}

.scroll-img-text {
    color: var(--font-01);
    font-size: 1.6rem;
    line-height: 160%;
    margin: 16px 0px;
}

.scroll-img-date {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--font-01);
}

.scroll-btn {
    background: #8257e6;
    border: none;
    border-radius: 0.3rem;
    min-height: 2.5rem;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 16px;
    padding: 6px 16px;
}

.scroll-btn:hover {
    transform: scale(0.9);
}

.scroll-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--white);
}