* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --bg-dark: #06141b;
    --bg-lg-dark: #11212d;
    --bg-btn: rgb(25, 46, 109);
    --font-01: #9ba8ab;
    --white: #ccd0cf;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: var(--bg-lg-dark);
    scroll-behavior: smooth;
}