/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #282830;

}

::-webkit-scrollbar-thumb {
    background: var(--bg-btn);
    border-radius: 10px;
}

/* IMAGE HOVER EFFECT */
.scroll-img {
    transition: all 0.3s ease;
    filter: brightness(0.6);
}

.scroll-img:hover {
    filter: brightness(1);
}

/* SCROLL IMAGES CONTAINER */
.scroll-imgs-container {
    max-height: 90rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0;
    flex: 0 1 700px;
}

/* PAIN IMG */
.scroll-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 24rem;
    min-height: 100%;
    background: url("/assets/images/16.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* DEADPOOL IMG */
.scroll-img-item:nth-child(2) .scroll-img {
    background: url("/assets/images/15.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* MINECRAFT IMG */
.scroll-img-item:nth-child(3) .scroll-img {
    background: url("/assets/images/09.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HARRY P. IMG */
.scroll-img-item:nth-child(4) .scroll-img {
    background: url("/assets/images/05.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* SUPERNATURAL IMG */
.scroll-img-item:nth-child(5) .scroll-img {
    background: url("/assets/images/14.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-img-item:nth-child(6) .scroll-img {
    background: url("/assets/images/21.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-img-item:nth-child(7) .scroll-img {
    background: url("/assets/images/08.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-img-item {
    display: flex;
    position: relative;
}

.scroll-img-texts {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    align-items: flex-start;
}

.scroll-img-title {
    color: var(--white);
    font-family: "Lexend Deca";
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 400;
}

.scroll-img-text {
    color: var(--font-01);
    font-size: 1.6rem;
    line-height: 160%;
    margin: 16px 0px;
}

.scroll-img-date {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--font-01);
}

.scroll-btn {
    background: var(--bg-btn);
    border: none;
    border-radius: 0.3rem;
    min-height: 2.5rem;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 16px;
    padding: 6px 16px;
}

.scroll-btn:hover {
    transform: scale(0.9);
}

.scroll-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--white);
}